<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/layout-general.css" type="text/css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <header class="main-head">Alphabet inc.</header>
        <nav class="main-nav">
            <ul>
                <li><a href="https://www.google.com/">Google</a></li>
                <li><a href="https://www.gmail.com/">Gmail</a></li>
                <li><a href="https://www.youtube.com/">Youtube</a></li>
                <li><a href="https://www.google.com/maps/preview/">Google Maps</a></li>
                <li><a href="https://www.images.google.com/">Google images</a></li>
            </ul>
        </nav>
        <article class="content">
            <h1>Did you know?</h1>
            <p>Alphabet inc. is a parent company of google and several other formal subsediaries.It was created in october 2015.Now all the following
                text is lorem ipsom text:-</p>
               <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Diam vulputate ut pharetra sit amet aliquam id diam maecenas. Id nibh tortor id aliquet lectus proin. Aliquam ut porttitor leo a.
                Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Ultrices neque ornare aenean euismod elementum nisi quis eleifend.
                Odio eu feugiat pretium nibh ipsum consequat nisl vel. Duis ut diam quam nulla. Purus in mollis nunc sed id. 
                Fringilla phasellus faucibus scelerisque eleifend donec pretium. Laoreet suspendisse interdum consectetur libero id faucibus.
                Dictum non consectetur a erat nam at lectus. Condimentum lacinia quis vel eros donec ac.

                Risus in hendrerit gravida rutrum quisque non. Quis enim lobortis scelerisque fermentum dui faucibus.
                Quam elementum pulvinar etiam non quam lacus suspendisse faucibus. Laoreet sit amet cursus sit amet.
                Nibh sit amet commodo nulla facilisi nullam vehicula. Lectus quam id leo in. Consequat semper viverra nam libero.
                Iaculis eu non diam phasellus vestibulum lorem. Pellentesque adipiscing commodo elit at.
                Ornare massa eget egestas purus viverra accumsan in nisl nisi. Egestas erat imperdiet sed euismod nisi.

                Pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Enim tortor at auctor urna nunc id cursus.
                Tristique senectus et netus et malesuada fames. Ante in nibh mauris cursus mattis molestie a iaculis at.
                Pellentesque massa placerat duis ultricies. Hac habitasse platea dictumst vestibulum. Magna ac placerat vestibulum lectus. 
                In hac habitasse platea dictumst vestibulum. Amet nisl purus in mollis nunc sed id. Integer malesuada nunc vel risus commodo viverra maecenas. 
                Fermentum posuere urna nec tincidunt praesent semper feugiat nibh sed. Volutpat blandit aliquam etiam erat velit scelerisque.
                Sagittis orci a scelerisque purus. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque.
                Aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat. Integer eget aliquet nibh praesent.
                Non arcu risus quis varius quam quisque id.

                Ornare massa eget egestas purus viverra accumsan in nisl nisi. Laoreet non curabitur gravida arcu ac.
                Ut pharetra sit amet aliquam id diam maecenas ultricies mi. Nunc consequat interdum varius sit amet mattis vulputate enim.
                Auctor elit sed vulputate mi sit amet mauris commodo. Et netus et malesuada fames ac turpis egestas. 
                Vel quam elementum pulvinar etiam non quam lacus suspendisse faucibus. 
                Morbi tempus iaculis urna id volutpat lacus laoreet non curabitur. 
                Gravida rutrum quisque non tellus orci ac. Amet dictum sit amet justo donec enim diam. Interdum consectetur libero id faucibus. 4
                Placerat orci nulla pellentesque dignissim enim sit amet. Molestie nunc non blandit massa enim nec dui. 
                Massa ultricies mi quis hendrerit dolor magna eget. Neque egestas congue quisque egestas diam in. Aliquam nulla facilisi cras fermentum.
            </p>
        </article> 
        <aside class="side">
            <h2>
                Photos
              </h2>
              <ul class="photos">
                <li>
                  <img src="images/google-logo.png" alt="google logo">
                </li>
                <li>
                  <img src="images/google-logo.png" alt="google logo">
                </li>
                <li>
                  <img src="images/google-logo.png" alt="google logo">
                </li>
                <li>
                    <img src="images/google-logo.png" alt="google logo">
                </li>
                <li>
                    <img src="images/google-logo.png" alt="google logo">
                </li>
                <li>
                    <img src="images/google-logo.png" alt="google logo">
                </li>
                <li>
                    <img src="images/google-logo.png" alt="google logor">
                </li>
                <li>
                    <img src="images/google-logo.png" alt="google logo">
                </li>
                <li>
                    <img src="images/google-logo.png" alt="google logo">
                </li>
                <li>
                    <img src="images/google-logo.png" alt="google logo">
                </li>
               
              </ul>
        </aside>
        <footer class="main-footer">Copyright &copy;Sumit Dulal</footer>
</div>
</body>
</html>